<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %> | High School Football '14</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "foundation_and_overrides" %>
    <%= stylesheet_link_tag    "custom" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <div class="fixed">
    <nav class="top-bar backgroundtop" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">SCTimes</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">High School Football '14</a></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">Cover Story</a></li>
          <li class="has-dropdown">
            <a href="#">Teams & Conferences</a>
            <ul class="dropdown">
              <li class="has-dropdown">
                <a href="#">Central Lakes Conference</a>
                <ul class="dropdown">
                  <li><a href="">Rocori</a></li>
                  <li><a href="">St. Cloud Tech</a></li>
                  <li><a href="">St. Cloud Apollo</a></li>
                  <li><a href="">Sartell</a></li>
                  <li><a href="">Sauk Rapids</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Granite Ridge Conference</a>
                <ul class="dropdown">
                  <li><a href="">St. Cloud Cathedral</a></li>
                  <li><a href="">Albany</a></li>
                  <li><a href="">Foley</a></li>
                  <li><a href="">Little Falls</a></li>
                  <li><a href="">Milaca</a></li>
                  <li><a href="">Becker</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">West Central Conference</a>
                <ul class="dropdown">
                  <li><a href="">Paynesville</a></li>
                  <li><a href="">Sauk Centre</a></li>
                  <li><a href="">Melrose</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Central Minnesota Conference</a>
                <ul class="dropdown">
                  <li><a href="">Eden Valley-Watkins</a></li>
                  <li><a href="">Holdingford</a></li>
                  <li><a href="">Kimball</a></li>
                  <li><a href="">Pierz</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Prairie South Conference</a>
                <ul class="dropdown">
                  <li><a href="">Royalton</a></li>
                  <li><a href="">Upsala/Swanville</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="#">Wright County Conference</a>
                <ul class="dropdown">
                  <li><a href="">Annandale</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
    var s = skrollr.init({
        forceHeight: false,
        smoothScrolling: false,
        mobileCheck: function() {
            return false;
        }
    });
    </script>
  </body>
</html>