<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) %> | High School Football '14</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "foundation_and_overrides" %>
    <%= stylesheet_link_tag    "custom" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <%= render 'layouts/header' %>

  <body>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>